extends ../layout
block content

  .container
    form(action="/register" method="post")
      .row
        .col.s12.m6.input-field
          input.validate(type="text" id="first_name" name="first_name" required value=professional.first_name)
          label(for="first_name" data-error="Obligatorio") Nombre
        .col.s12.m6.input-field
          input.validate(type="text" id="last_name" name="last_name" required value=professional.last_name)
          label(for="last_name" data-error="Obligatorio") Apellidos
        .col.s12.m6.input-field
          input.validate(type="email" id="email" name="email" required value=professional.email)
          label(for="email" data-error="Debe ser un email valido") Email
        .col.s12.m6.input-field
          input.validate(type="password" id="password" name="password" required minlength="6")
          label(for="password" data-error="Mínimo 6 caracteres") Contraseña (6 caracteres mínimo)
        .col.s12.m6.input-field
          input.validate(type="text" id="phone" name="phone" required pattern="^[9|6|7][0-9]{8}$" maxlength="9" value=professional.phone)
          label.validate(for="phone" data-error="Debe ser un número de teléfono valido") Teléfono
        .col.s12.m6.input-field
          input.datepicker(type="date" id="birthday" name="birthday" required)
          label(for="birthday") Fecha de nacimiento
        .col.s12.m1
          span Sexo
        .col.s12.m11
          input.with-gap(type="radio" id="female" name="gender" required value="female" checked=professional.gender == 'female')
          label(for="female") Mujer
          input.with-gap(type="radio" id="male" name="gender" required value="male" checked=professional.gender == 'male')
          label(for="male") Hombre
      .row
        if error
          .col.s12
            .card-panel.red.white-text=error.message
        .col.s12
            input(type="checkbox" id="lopd")
            label(for="lopd") He leído y acepto las condiciones generales de uso y el aviso de protección de datos personales y publicidad.*
        .col.s12
          button.disabled.btn(type="submit") Darme de alta
  script.
    $(document).ready(function(){
      $('#lopd').on('change', function(){
        let $me = $(this)
        let $btn = $('[type="submit"]')
        if( $me.is(':checked')) $btn.removeClass('disabled')
        else $btn.addClass('disabled')
      })
    })
    $('.datepicker').pickadate({
      selectMonths: true,
      selectYears: 100,
      today: 'Hoy',
      clear: 'Borrar',
      close: 'Cerrar',
      firstDay: 1,
      max: new Date(),
      formatSubmit: 'yyyy/mm/dd',
    });
