extends layout
block seo
  script(src="https://cloud.tinymce.com/stable/tinymce.min.js?apiKey=18dzt1iu3jwtqqds3zc59s6b0r8eefaddk24wecginebhns8")
  link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Bellefair")
  link(rel="stylesheet", href="/css/style.css")
  title=professional.fullname
block content
  .fixed-action-btn
    a.pulse.btn-floating.btn-large.red
      i(class="fa fa-phone" aria-hidden="true")
  include _navbar
  .container
    .row
      .col.s12
        if professional.background
          header.z-depth-1(style="background-image:url('#{professional.background}')")
        else
          header.z-depth-1
            .title.white-text.hide-on-med-and-down
              div #{professional.fullname}
      .col.s12
        nav.transparent.z-depth-0
          .nav-wrapper
            a.brand-logo(href='#')
              img.z-depth-1.responsive-img.profile(src=professional.avatar)
            ul#nav-mobile.right.hide-on-med-and-down
              li
                a(href='#myservices')
                  i(class="fa fa-scissors left" aria-hidden="true")
                  | Mis servicios
              li
                a(href='#contact')
                  i(class="fa fa-handshake-o left" aria-hidden="true")
                  | Contratame
              li
                a(href='collapsible.html')
                  i(class="fa fa-facebook-official left" aria-hidden="true")
                  | Mi facebook
    .row.hide-on-large-only
      .col.s12
        .center-align.bellefair.font-size-2x #{professional.first_name} #{professional.last_name}
    .row
      .col.s12.m8
        h4.bellefair Sobre mi
        if professional.id == session.professional
          .row
            form(novalidate action="/professional/update" method="post")
              textarea(maxlenght="500" placeholder="Escribe aquí" required name="description")=professional.description
              button.btn(type="submit") Actualizar descripción
        else
          div!=professional.description

        if professional.options.home
          div.chip
            i(class="fa fa-home" aria-hidden="true")
            |  Trabajo a domicilio
      .col.m4
        .card
          .card-image.waves-effect.waves-light
            a(href="/")
              if professional.options.store
                img(src="https://maps.googleapis.com/maps/api/staticmap?center=#{professional.address.place},#{professional.address.location},España&zoom=13&size=600x400&maptype=roadmap&key=AIzaSyCiUw1uT1zwJSRV4d_qhclFC7BgM3mzRqQ")
              else
                img(src="https://maps.googleapis.com/maps/api/staticmap?center=#{professional.address.location},España&zoom=13&size=600x400&maptype=roadmap&key=AIzaSyCiUw1uT1zwJSRV4d_qhclFC7BgM3mzRqQ")
          .card-content
            if professional.options.store
              p Ven a verme a mi local en #[strong= professional.address.place + ' ' + professional.address.location]
            else
              p #[strong #{professional.first_name} #{professional.last_name}] trabaja en el area de #{professional.address.location} y alrededores.
          .card-action
            div.center-align
              small Pagos aceptados
              br
              if professional.options.payments.cash
                i.tooltipped(class="fa fa-money fa-2x" aria-hidden="true"  data-position="bottom" data-delay="50" data-tooltip="Efectivo")
              if professional.options.payments.card
                i.tooltipped(class="fa fa-cc-visa fa-2x" aria-hidden="true"  data-position="bottom" data-delay="50" data-tooltip="Pago con Visa")
                i.tooltipped(class="fa fa-cc-mastercard fa-2x" aria-hidden="true"  data-position="bottom" data-delay="50" data-tooltip="Pago con MasterCard")
            if professional.id == session.professional
              .row
                form(action="/professional/update" method="post")
                  .switch
                    label
                      | ¿Trabajo a domicilio?
                      input(type="hidden" name="options.home" value="false")
                      input(type="checkbox" checked=professional.options.home name="options.home")
                      span.lever
                  .switch
                    label
                      | ¿Tengo un local?
                      input(type="hidden" name="options.store" value="false")
                      input(type="checkbox" checked=professional.options.store name="options.store")
                      span.lever
                  .switch
                    label
                      | ¿Acepto pago con tarjeta?
                      input(type="hidden" name="options.payments.card" value="false")
                      input(type="checkbox" checked=professional.options.payments.card name="options.payments.card")
                      span.lever
                  button.btn(type="submit") Actualizar optiones

    .row#myservices
      .col.s12
        h4.bellefair Mis servicios
      if professional.services.length > 0
        each service in professional.services
          .col.s12.m4
            .card.hoverable
              .card-image
                img(src=service.service.image, alt="")
              .card-content
                span.card-title=service.service.name
                p Precio del servicio desde: #[strong=service.price] €
      else
        .col.s12.center-align
          i(class="fa fa-quote-right fa-3x" aria-hidden="true")
          p Todavia no se han publicado los servicios

    .row.hide-on-large-only
      .col.s12
        h4.bellefair Mis trabajos
      if professional.working_images.length > 0
        .col.s12
          .carousel
            each image in professional.working_images
              a.carousel-item
                img(src=image)
      else
        .col.s12.center-align
          i(class="fa fa-picture-o fa-3x" aria-hidden="true")
          p Todavia no hay imagenes

    .row.hide-on-med-and-down
      .col.s12
        h4.bellefair Mis trabajos
      if professional.working_images.length > 0
        each image in professional.working_images
          .col.s12.m4
            .card
              .card-image
                img.materialboxed(src=image.url)
                if professional.id == session.professional
                  a.btn-floating.halfway-fab.waves-effect.waves-light.btn-large.red(href="/upload/working_images/#{image.public_id}/delete")
                    i(class="fa fa-trash-o left" aria-hidden="true")
              if professional.id == session.professional
                .card-content
                  ul
                    li Tamaño #{image.width} x #{image.height}
                    li ID #{image.public_id}
      else
        .col.s12.m4
          .card
            .card-content.center-align
              i(class="fa fa-picture-o fa-3x" aria-hidden="true")
              p Todavia no hay imagenes
      if professional.id == session.professional
        .col.s12.m4
          .card
            .card-action.center-align
              form(action='/upload/working_images' method="post" enctype="multipart/form-data" id="working_images")
                .file-field.input-field
                  .btn
                    span
                      i(class="fa fa-camera" aria-hidden="true")
                    input(accept="image/*" type='file' name="working_images" data-form="working_images")
                  .file-path-wrapper
                    input.file-path.validate(type='text', placeholder='Sube tu imagen')
    if professional.id != session.professional
      .row#contact
        .col.s12
          h4.bellefair Ponte en contacto conmigo
        .col.s12.m6.input-field
          input(type="text" id="name" name="name")
          label(for="name") Escribe tu nombre
        .col.s12.m6.input-field
          input(type="text" id="phone" name="phone")
          label(for="phone") Escribe tu teléfono
        .col.s12.m6.input-field
          button.btn(type="submit") Enviar
  include _footer
  script.
    $().ready(function(){
      tinymce.init({ height: 300,selector:'textarea',menubar: false,  toolbar: 'undo redo | insert | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent'});
    })
    $('[type="checkbox"]').on('click', function(){
      let $checkbox = $(this);
      if($checkbox.is(":checked")) $checkbox.val("true")
      else $checkbox.val("false")
    })
    $('[type="file"]').on('change', function(e) {
      let input = $(this)
      let file = e.target.files[0];
      let reader = new FileReader();
          reader.onload = function(e){
            let img = new Image()
                img.onload = function() {
                  if(this.width >= this.height) {
                    $('#'+ input.data('form')).submit()
                  }
                }
                img.src = e.target.result
          }
          reader.readAsDataURL(file)
    })
    $('.tooltipped').tooltip({delay: 50});
    $('.carousel').carousel();
    $('.materialboxed').materialbox();
