extends layout
block seo
  link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Bellefair")
  link(rel="stylesheet", href="/css/style.css")
  title=professional.fullname
block content
  .fixed-action-btn
    a.pulse.btn-floating.btn-large.red
      i(class="fa fa-phone" aria-hidden="true")
  .container
    .row
      .col.s12
        header.z-depth-1(style="background-image:url('#{professional.background}')")
          .title.white-text.hide-on-med-and-down
            div #{professional.fullname}
      .col.s12
        nav.transparent.z-depth-0
          .nav-wrapper
            a.brand-logo(href='#')
              img.z-depth-1.responsive-img.profile(src=professional.avatar)
            ul#nav-mobile.right.hide-on-med-and-down
              li
                a(href='#myservices')
                  i(class="fa fa-scissors left" aria-hidden="true")
                  | Mis servicios
              li
                a(href='#contact')
                  i(class="fa fa-handshake-o left" aria-hidden="true")
                  | Contratame
              li
                a(href='collapsible.html')
                  i(class="fa fa-facebook-official left" aria-hidden="true")
                  | Mi facebook
    .row.hide-on-large-only
      .col.s12
        .center-align.bellefair.font-size-2x #{professional.first_name} #{professional.last_name}
    .row
      .col.s12.m8
        h4.bellefair Sobre mi
        div!=professional.description
        if professional.options.home
          span.new.badge.black(data-badge-caption="") #[i(class="fa fa-home" aria-hidden="true")] Trabajo a domicilio
      .col.m4
        .card
          .card-image.waves-effect.waves-light
            a(href="/")
              if professional.options.store
                img(src="https://maps.googleapis.com/maps/api/staticmap?center=#{professional.address.place},#{professional.address.location},España&zoom=13&size=300x200&maptype=roadmap&key=AIzaSyCiUw1uT1zwJSRV4d_qhclFC7BgM3mzRqQ")
              else
                img(src="https://maps.googleapis.com/maps/api/staticmap?center=#{professional.address.location},España&zoom=13&size=300x200&maptype=roadmap&key=AIzaSyCiUw1uT1zwJSRV4d_qhclFC7BgM3mzRqQ")
          .card-content
            if professional.options.store
                p Ven a verme a mi local en #[strong= professional.address.place + ' ' + professional.address.location]
            else
              p #[strong #{professional.first_name} #{professional.last_name}] trabaja en el area de #{professional.address.location} y alrededores.
          .card-action
            div.center-align
              small Pagos aceptados
              br
              if professional.options.payments.cash
                i.tooltipped(class="fa fa-money fa-2x" aria-hidden="true"  data-position="bottom" data-delay="50" data-tooltip="Efectivo")
              if professional.options.payments.card
                i.tooltipped(class="fa fa-cc-visa fa-2x" aria-hidden="true"  data-position="bottom" data-delay="50" data-tooltip="Pago con Visa")
                i.tooltipped(class="fa fa-cc-mastercard fa-2x" aria-hidden="true"  data-position="bottom" data-delay="50" data-tooltip="Pago con MasterCard")
    .row#myservices
      .col.s12
        h4.bellefair Mis servicios
      each service in professional.services
        .col.s12.m4
          .card.hoverable
            .card-image
              img(src=service.service.image, alt="")
            .card-content
              span.card-title=service.service.name
              p Precio del servicio desde: #[strong=service.price] €
    .row.hide-on-large-only
      .col.s12
        h4.bellefair Mis trabajos
      .col.s12
        .carousel
          each image in professional.working_images
            a.carousel-item
              img(src=image)
    .row.hide-on-med-and-down
      .col.s12
        h4.bellefair Mis trabajos
      each image in professional.working_images
        .col.s12.m4
          .card
            .card-image
              img.materialboxed(src=image)
    .row#contact
      .col.s12
        h4.bellefair Ponte en contacto conmigo
      .col.s12.m6.input-field
        input(type="text" id="name" name="name")
        label(for="name") Escribe tu nombre
      .col.s12.m6.input-field
        input(type="text" id="phone" name="phone")
        label(for="phone") Escribe tu teléfono
      .col.s12.m6.input-field
        button.btn(type="submit") Enviar
  include _footer
  script.
    $('.tooltipped').tooltip({delay: 50});
    $('.carousel').carousel();
    $('.materialboxed').materialbox();
