extends layout
block seo
	title=professional.fullname
block extra-head
	link(href="https://fonts.googleapis.com/css?family=Kurale" rel="stylesheet")
block content
	.fixed-action-btn
		a.btn-floating.btn-large.red.pulse(href="tel:#{professional.phone}")
			i.fa.fa-phone(aria-hidden="true")
	ul#slide-out.side-nav
		li
			.user-view
				.background
					if professional.background
						img(src="#{professional.background}")
				a
					img.circle(src="#{professional.avatar}")
				a
					span.white-text.name #{professional.fullname}
				a
					span.white-text.email #{professional.email}
		li
			a(href="#")
				i.fa.fa-scissors.left(aria-hidden="true")
				| Mis servicios
			a(href="#")
				i.fa.fa-handshake-o.left(aria-hidden="true")
				| Mis trabajos
			a(href="#")
				i.fa.fa-facebook-official.left(aria-hidden="true")
				| Mi facebook


	//Header
	.container
		.row
			.col.s12
				if professional.background
					header.background-image(style="background-image:url(#{professional.background})")
						h4.white-text.shadow-text.hide-on-med-and-down #{professional.fullname}
				else
					header
						h4.white-text.shadow-text.hide-on-med-and-down #{professional.fullname}
				nav.transparent.z-depth-0
					.nav-wrapper
						a.button-collapse(href="#" data-activates="slide-out")
							i.fa.fa-2x.fa-bars(aria-hidden="true")
						a.brand-logo
							img.responsive-img(src="#{professional.avatar}")
						ul#nav-mobile.right.hide-on-med-and-down
							li
								a(href="")
									i.fa.fa-scissors.left(aria-hidden="true")
									| Mis servicios
							li
								a(href="")
									i.fa.fa-handshake-o.left(aria-hidden="true")
									| Mis trabajos
							li
								a(href="")
									i.fa.fa-facebook-official.left(aria-hidden="true")
									| Mi facebook
		// div del nombre del perfil que se oculta en escritorio
		.row.hide-on-large-only
			.col.s12.center-align
				h5.kurale-font #{professional.fullname}
		.row
			.col.s12.m8
				.row
					.col.s12
						h5 Sobre mi
					if professional._id == session.professional
						.col.s12
							form(action="/professional/update" method="post")
								.input-field
									textarea.materialize-textarea#description(required name="description" maxlenght="500" data-length="500") #{professional.description}
									label(for="description") Escribe algo sobre ti.
								button.btn(type="submit") Actualizar
					else
						.col.s12
							if professional.description
								p !{professional.description}
							else
								p Todavia no se ha escrito nada sobre este perfil
				.row
					.col.s12
						ul.collection.with-header
							li.collection-header
								h5 Datos de interés
							li.collection-item.avatar
								i.circle(class="fa fa-clock-o" aria-hidden="true")
								span.title Horario
								if professional.schedules
									p #{professional.schedules}
								else
									p Todavia no han añadido un horario.
							if professional._id == session.professional
								li.collection-item.avatar
									i.circle(class="fa fa-clock-o" aria-hidden="true")
									form(action="/professional/update" method="post")
										.input-field
											input(type="text" id="schedules" name="schedules" required)
											label(for="schedules") Actualiza tu horario
										button.btn(type="submit") Actualizar
							li.collection-item.avatar
								i.circle.fa.fa-phone(aria-hidden="true")
								span.title Teléfono
								p #{professional.phone}
			.col.s12.m4
				.card
					.card-image
						if professional.options.store
							img(src="https://maps.googleapis.com/maps/api/staticmap?center=#{professional.address.place},#{professional.address.location},España&zoom=13&size=600x400&maptype=roadmap&key=AIzaSyCiUw1uT1zwJSRV4d_qhclFC7BgM3mzRqQ")
						else
							img(src="https://maps.googleapis.com/maps/api/staticmap?center=#{professional.address.location},España&zoom=13&size=600x400&maptype=roadmap&key=AIzaSyCiUw1uT1zwJSRV4d_qhclFC7BgM3mzRqQ")
					.card-content.hide-on-large-only
						p Ven a verme a mi local en #[strong #{professional.address.place} #{professional.address.location}]
					.card-action.center-align
						small Pagos aceptados
						br
						i.tooltipped(class="fa fa-money fa-2x" aria-hidden="true"  data-position="bottom" data-delay="50" data-tooltip="Efectivo")
						i.tooltipped(class="fa fa-cc-visa fa-2x" aria-hidden="true"  data-position="bottom" data-delay="50" data-tooltip="Pago con Visa")
						i.tooltipped(class="fa fa-cc-mastercard fa-2x" aria-hidden="true"  data-position="bottom" data-delay="50" data-tooltip="Pago con MasterCard")
					.card-action.center-align
						.chip.black-text
							i.fa.fa-home(aria-hidden="true")
							| Trabajo a domicilio
		section.row
			.col.s12
				h5 Mis servicios
			.col.s12.m4
				.card
					.card-image
						img(src="http://oferplan-resizer.lavozdegalicia.es/resizer/resizer.php?imagen=http%3A%2F%2Foferplan.lavozdegalicia.es%2F%2Fimages%2Fsized%2Fimages%2FFotolia_79409730_Subscription_BAJA3-619x391.jpg&nuevoancho=493&nuevoalto=278&crop=1")
					.card-content.center-align
						span.card-title
							strong Lavar y peinar
		section.row
			.col.s12
				h5 Mis trabajos
			//Carrusel para móvil
			if professional.working_images.length > 0
				.col.s12.hide-on-large-only
					.carousel
						each image in professional.working_images
							a.carousel-item
								img(src="#{image}")
			//Cards para escritorio
			if professional.working_images.length == 0
				.col.s12
					span No hay registros
			each image in professional.working_images
				.col.s12.m4.hide-on-med-and-down
					.card
						.card-image
							img.materialboxed(src="#{image.url}")
							// Este botón se oculta en caso de no estar logeado
							if professional._id == session.professional
								a.btn-floating.btn-large.halfway-fab.waves-effect.waves-light.red(href="/upload/working_images/#{image.public_id}/delete")
									i.fa.fa-trash(aria-hidden="true")
						if professional._id == session.professional
							.card-content
								p Lorem Ipsum
			// Esta card se oculta en caso de no estar logeado.
			if professional._id == session.professional
				.col.s12.m4
					.card
						.card-content
							form(action='/upload/working_images' method="post" enctype="multipart/form-data" id="working_images")
								.file-field.input-field
									.btn
										i.fa.fa-camera(aria-hidden="true")
										input(type="file" accept="image/*" data-form="working_images" name="working_images" )
									.file-path-wrapper
										input.file-path.validate(type="text" placeholder="Sube una foto")
	script(src="/js/controllers/profile.js")
