extends layout
block seo
  title=professional.fullname
block extra-head
  link(href="https://fonts.googleapis.com/css?family=Kurale" rel="stylesheet")
block content
  .fixed-action-btn
    a.btn-floating.btn-large.red.pulse(href="tel:#{professional.phone}")
      i.fa.fa-phone(aria-hidden="true")
  //Header
  .container
    .row
      .col.s12
        if professional.background 
          header.background-image(style="background-image:url(#{professional.background})")
            h4.white-text.shadow-text.hide-on-med-and-down #{professional.fullname}
        else 
          header
            h4.white-text.shadow-text.hide-on-med-and-down #{professional.fullname}
        nav.transparent.z-depth-0
          .nav-wrapper
            a.brand-logo
              img.responsive-img(src="#{professional.avatar}")
            ul#nav-mobile.right.hide-on-med-and-down
              li 
                a(href="")
                  i.fa.fa-scissors.left(aria-hidden="true")
                  | Mis servicios
              li
                a(href="")
                  i.fa.fa-handshake-o.left(aria-hidden="true")
                  | Contrátame
              li
                a(href="")
                  i.fa.fa-facebook-official.left(aria-hidden="true")
                  | Mi facebook
    .row.hide-on-large-only
      .col.s12.center-align
         h5.kurale-font #{professional.fullname}
      
      
                  
                  
    
