extends layout
block seo
	title=professional.fullname
	- var icon_avatar = professional.avatar.replace('upload', 'upload/r_max')
	link(rel="icon" type="image/png" href="#{icon_avatar}")
block extra-head
	link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/cropper/2.3.4/cropper.min.css")
	link(href="https://fonts.googleapis.com/css?family=Kurale" rel="stylesheet")
block content
	//********* Botón flotante de llamada (margen inferior derecho) *******//
	.fixed-action-btn
		a.btn-floating.btn-large.red.pulse(href="tel:#{professional.phone}")
			i.fa.fa-phone(aria-hidden="true")
	//********** Menu slider **********//
	ul#slide-out.side-nav
		li
			.user-view
				.background
					if professional.background
						img(src="#{professional.background.url}")
				a
					img.circle(src="#{professional.avatar}")
				a
					span.shadow-text.white-text.name #{professional.fullname}
				a
					span.shadow-text.white-text.email #{professional.email}
		li
			a(href="#services")
				i.fa.fa-scissors.left(aria-hidden="true")
				| Mis servicios
			a(href="#work")
				i.fa.fa-file-image-o.left(aria-hidden="true")
				| Mis trabajos
			a(href="#")
				i.fa.fa-facebook-official.left(aria-hidden="true")
				| Mi facebook
	//******* MODAL crop background *******///
	.modal.modal-fixed-footer.crop#modal-background
		.modal-content
			h5 Actualiza la imagen de fondo
			form.file-field.input-field
				.btn
					span
						i(class="fa fa-camera" aria-hidden="true")
					input.images-works(accept="image/*" type='file' name='upload-background')
				.file-path-wrapper
					input.file-path.validate(type='text', placeholder='Sube tu imagen')
			img#crop(style="max-width: 100%")
		.modal-footer
			button.modal-action.modal-close.waves-effect.waves-green.btn-flat Cerrar
			button.modal-action.waves-effect.waves-green.btn-flat(cut) Guardar Imagen
	//******* MODAL crop AVATAR *******///
	.modal.modal-fixed-footer.crop#modal-avatar
		.modal-content
			h5 Actualiza la imagen de perfil
			form.file-field.input-field
				.btn
					span
						i(class="fa fa-camera" aria-hidden="true")
					input.images-works(accept="image/*" type='file' name='upload-avatar')
				.file-path-wrapper
					input.file-path.validate(type='text', placeholder='Sube tu imagen')
			img#crop-avatar(style="max-width: 100%")
		.modal-footer
			button.modal-action.modal-close.waves-effect.waves-green.btn-flat Cerrar
			button.modal-action.waves-effect.waves-green.btn-flat(cut) Guardar Imagen
	//******** MODAL LOADING *******//
	.modal.bottom-sheet#preloader
		.modal-content.center-align
			include _loading
			p Por favor espere mientras se sube la imagen

	//**** NAVBAR *****//
	include _navbar
	.container#profile
		.row
			.col.s12
				if professional._id == session.professional
					//****** Form subir background ********//
					form.hide-on-med-and-down(action="/upload/background" method="post" id="form-background")
						input(type="hidden" name="image")
						a.btn-floating.btn-large.waves-effect.waves-light.light-green#btn-background(href="#modal-background")
							i.fa.fa-pencil(aria-hidden="true")
				//*************** HEADER ***************** //
				if professional.background
					header.background-image(style="background-image:url(#{professional.background.url})")
						h4.white-text.shadow-text.hide-on-med-and-down #{professional.fullname}
				else
					header
						h4.white-text.shadow-text.hide-on-med-and-down #{professional.fullname}
				//*************** NAVBAR ***************** //
				nav.transparent.z-depth-0
					.nav-wrapper
						a.button-collapse(href="#" data-activates="slide-out")
							i.fa.fa-2x.fa-bars(aria-hidden="true")
						a.brand-logo(href="#{ professional._id == session.professional ? '#modal-avatar': 'javascript:void()' }")
							img.avatar.responsive-img(class="#{ professional._id == session.professional ? 'tooltipped': '' }" src="#{professional.avatar}" data-position="top" data-tooltip="<i class='fa fa-camera'></i> Cambia tu foto de perfil" data-html="true")
							if professional._id == session.professional
								//****** Form subir avatar *****//
								form.valign-wrapper(action="/upload/avatar" method="post" id="form-upload-avatar")
									input.hide(type="hidden" name="avatar")
						ul#nav-mobile.right.hide-on-med-and-down
							li
								a(href="#services")
									i.fa.fa-scissors.left(aria-hidden="true")
									| Mis servicios
							li
								a(href="#work")
									i.fa.fa-file-image-o.left(aria-hidden="true")
									| Mis trabajos
							li
								a(href="")
									i.fa.fa-facebook-official.left(aria-hidden="true")
									| Mi facebook
		// div del nombre del perfil que se oculta en escritorio
		.row.hide-on-large-only
			.col.s12.center-align
				h5.kurale-font #{professional.fullname}
		.row
			.col.s12.m8
				.row
					.col.s12
						h5 Sobre mi
					if professional._id == session.professional
						.col.s12
							//***** Form actualizar description *********//
							form(action="/professional/update" method="post")
								.input-field
									textarea.materialize-textarea#description(required name="description" maxlenght="500" data-length="500") #{professional.description}
									label(for="description") Escribe algo sobre ti.
								button.btn(type="submit") Actualizar
					else
						.col.s12
							if professional.description
								p !{professional.description}
							else
								p Todavia no se ha escrito nada sobre este perfil
				.row
					.col.s12
						//********** UL collections Datos de interes *****//
						ul.collection.with-header
							li.collection-header
								h5 Datos de interés
							li.collection-item.avatar
								i.circle(class="fa fa-clock-o" aria-hidden="true")
								span.title Horario
								if professional.schedules
									p #{professional.schedules}
								else
									p Todavia no han añadido un horario.
							if professional._id == session.professional
								li.collection-item.avatar
									i.circle(class="fa fa-pencil" aria-hidden="true")
									// ******** Form actualizar schedule *******//
									form(action="/professional/update" method="post")
										.input-field
											textarea.materialize-textarea(id="schedules" name="schedules" required maxlenght="200" data-length="200")
											label(for="schedules") Actualiza tu horario
										button.btn(type="submit") Actualizar
							li.collection-item.avatar
								i.circle.fa.fa-phone(aria-hidden="true")
								span.title Teléfono
								p #{professional.phone}
								if professional._id == session.professional
									li.collection-item.avatar
										i.circle(class="fa fa-pencil" aria-hidden="true")
										//****** Form actualizar phone *****//
										form(action="/professional/update" method="post")
											.input-field
												input.validate(type="text" id="phone" name="phone" required pattern="^[9|6|7][0-9]{8}$")
												label(for="phone" data-error="Escriba un teléfono valido") Actualiza el teléfono
											button.btn(type="submit") Actualizar

			//************ CARD MAPA ***********//
			.col.s12.m4
				.card
					.card-image
						if professional.options.store
							img(src="https://maps.googleapis.com/maps/api/staticmap?center=#{professional.address.place},#{professional.address.location},España&zoom=13&size=600x400&maptype=roadmap&key=AIzaSyCiUw1uT1zwJSRV4d_qhclFC7BgM3mzRqQ")
						else
							img(src="https://maps.googleapis.com/maps/api/staticmap?center=#{professional.address.location},España&zoom=13&size=600x400&maptype=roadmap&key=AIzaSyCiUw1uT1zwJSRV4d_qhclFC7BgM3mzRqQ")
					.card-content
						if professional._id == session.professional
							i.fa.fa-pencil.right.activator(aria-hidden="true")
						if professional.options.store
							p Ven a verme a mi local en #[strong #{professional.address.place} #{professional.address.location}]
						else
							p Presto servicios en la zona de #[strong #{professional.address.location}]
					.card-action.center-align
						small Pagos aceptados
						br
						i.margin-left-05em.tooltipped(class="fa fa-money fa-2x" aria-hidden="true"  data-position="bottom" data-delay="50" data-tooltip="Efectivo")
						i.margin-left-05em.tooltipped(class="fa fa-cc-visa fa-2x" aria-hidden="true"  data-position="bottom" data-delay="50" data-tooltip="Pago con Visa")
						i.margin-left-05em.tooltipped(class="fa fa-cc-mastercard fa-2x" aria-hidden="true"  data-position="bottom" data-delay="50" data-tooltip="Pago con MasterCard")
					.card-action.center-align
						.chip.black-text
							i.fa.fa-home(aria-hidden="true")
							| Trabajo a domicilio
					if professional._id == session.professional
						.card-reveal
							span.card-title
								| Ubicación
								i.fa.fa-times.right
							.input-field
								input(type="text" id="location")
								label(for="location") Ubicación
							button.btn Buscar
		//*********** SECTION MIS SERVICIOS *********//
		section.row.scrollspy#services
			.col.s12
				h5 Mis servicios
			if professional._id == session.professional
				//********** FORM ELEGIR MIS SERVICIOS **********//
				.col.s12
					p Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona qu
					form(action="/professional/update" method="post")
						.input-field
							select(multiple name="services")
								option(disabled selected) Seleccione varios
								each option in services
									option(value="#{option._id}") #{option.name}
						button.btn(type="submit") Actualizar
			each service in professional.services
				.col.s12.m4
					.card.hoverable
						.card-image
							img(src="#{service.image}")
						.card-content.center-align
							span.card-title
								strong #{service.name}
		//********* SECTION MIS TRABAJOS ****//
		section.row.scrollspy#work
			.col.s12
				h5 Mis trabajos
			//******* Carrusel para móvil ********//
			if professional.working_images.length > 0
				.col.s12.hide-on-large-only
					.carousel
						each image in professional.working_images
							a.carousel-item
								img(src="#{image.url}")
			//******** Cards para escritorio ********//
			if professional.working_images.length == 0
				.col.s12
					span No hay registros
			//******* CARD subir imagenes del trabajo **********//
			if professional._id == session.professional
				.row
					.col.s12.m4
						.card
							.card-content
								form(action='/upload/working_images' method="post" enctype="multipart/form-data" id="working_images")
									.file-field.input-field
										.btn
											i.fa.fa-camera(aria-hidden="true")
											input(type="file" accept="image/*" data-form="working_images" name="working_images" )
										.file-path-wrapper
											input.file-path.validate(type="text" placeholder="Sube una foto")
			.row.hide-on-med-and-down
				.col.m4
					each image,index in professional.working_images
						if index%3 == 0
							+card-image(image.url, image.public_id)
				.col.m4
					each image,index in professional.working_images
						if index%3 == 1
							+card-image(image.url, image.public_id)
				.col.m4
					each image,index in professional.working_images
						if index%3 == 2
							+card-image(image.url, image.public_id)
	//**** Footer *****//
	include _footer
	//******* Javascript ********//
	script(src="https://cdnjs.cloudflare.com/ajax/libs/cropper/2.3.4/cropper.min.js")
	script(src="/js/controllers/profile.js")
	mixin card-image(url, public_id)
		.card
			.card-image
				img.materialboxed(src="#{url}")
				// Este botón se oculta en caso de no estar logeado
				if professional._id == session.professional
					a.btn-floating.btn-large.top-fab.waves-effect.waves-light.red(href="/upload/working_images/#{public_id}/delete")
						i.fa.fa-trash(aria-hidden="true")
