extends layout
block seo
  if seo
    title #{seo} | UrbHair.com
    meta(name="description" content="#{seo} ofrecidos por UrbHair.com")
    meta(name="robots" content="INDEX,FOLLOW")
  title Resultados de búsqueda | UrbHair.com
block content
  //- Modal search
  .modal#search
    .modal-content
      h5 Afina tu búsqueda aquí
      form.row(action="/")
        .col.s12.input-field
          input#where(type="text" name="w" value="#{query.w}" required)
          label(for="where") Ciudad
        .col.s12
          input.with-gap#male(type="radio" name="gender" value="male")
          label(for="male") Hombre
          input.with-gap#female(type="radio" name="gender" value="female")
          label(for="female") Mujer
        .col.s12.input-field
          select.icons(name="services")
            option(selected disabled ) Seleccione un servicio
            each service in services
              option.circle.left(value="#{service.id}" data-icon="#{service.image}") #{service.name}
          label Servicios
        .col.s12.input-field
          button.btn.waves-effect.waves-light.waves-purple
            i.fa.fa-search.left
            | Buscar
  include _navbar
  .container#results
    if professionals.length == 0
      .row.valign-wrapper.not-results
        .col.s12.m8.offset-m2.center-align
          img.bounceInDown.animated(src="/img/not-results.png")
          h4.bounceInLeft.animated Opss! No hemos encontrada ningún resultado.
          .col.s12
            form(action="/")
              .input-field
                input(text="text" name="w" placeholder="Prueba con otra ciudad" autofocus required)
              .input-field
                select.icons(name="services")
                  option(selected disabled ) Seleccione un servicio
                  each service in services
                    option.circle.left(value="#{service.id}" data-icon="#{service.image}") #{service.name}
                label Servicios
              .input-field
                button.btn.waves-effect.waves-light.waves-purple
                  i.fa.fa-search.left
                  | Buscar
    else
      .fixed-action-btn
        a.btn-floating.btn-large.pulse(href="#search")
          i.fa.fa-search(aria-hidden="true")
      .col.s12
        p.bounceInLeft.animated Hemos encontrado #[strong #{professionals.length}] resultados. #[a.hide-on-med-and-down(href="#search") Mejorar búsqueda]
      .row.hide-on-large-only
        each professional in professionals
          .col.s12
            +card(professional)
      .row.hide-on-med-and-down.bounceInUp.animated
          .col.m4
            each professional, index in professionals
              if index%3 == 0
                +card(professional)
          .col.m4
            each professional, index in professionals
              if index%3 == 1
                +card(professional)
          .col.m4
            each professional, index in professionals
              if index%3 == 2
                +card(professional)
  include _footer
  script.
    $('.modal').modal();
     $('select').material_select();
mixin card(professional)
  .card.hoverable
    .card-image
      if professional.payments.plan == 'plus'
        i.fa.fa-heart.fa-2x.beats.pink-text(aria-hidden="true")
      if professional.background
        img(src="#{professional.background.url}")
      else
        .gradiant
      a.tooltipped.btn-floating.halfway-fab.waves-effect.waves-light.blue(href="tel:#{professional.phone}" data-tooltip="Llamame al: #{professional.phone}")
        i.fa.fa-phone(aria-hidden="true")
    .card-content
      .center-align.avatar
        a.tooltipped(href="/#{professional.slug}" data-position="top" data-tooltip="Accede a mi perfil")
          img.circle.responsive-img(src="#{professional.avatar}")
      span.card-title.letter-capitalize #{professional.fullname}
      if professional.description
        p #{professional.description}
      else
        p Este usuario todavía no ha añadido una descripción sobre el mismo.
      p.center-align
        a.waves-effect.waves-light(href="/#{professional.slug}") Saber más acerca de mí
    if professional.services.length > 0
      .card-action.center-align
        each service in professional.services
          .chip
            span #{service.name}
    if professional.options.home
      .card-action.center-align
        .chip.black-text
          i.fa.fa-home(aria-hidden="true")
          | Trabajo a domicilio
